*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}
.contain{
    max-width: 1170px;
    margin: 0 auto;
}
.nav-container img{
    width: 139px;
    height: 60px;
}
.nav-container ul{
    display: flex;
    gap:24px;
    list-style: none;

}
.nav-container .btn{
    padding:12px 16px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
    color:white;
    cursor: pointer;

}
.hero{
    background-image: url(assets/hero-bg.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}