*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
}
.contain{
    max-width: 1170px;
    margin: 0 auto;
}
.nav-container img{
    width: 139px;
    height: 60px;
}
.nav-container ul{
    display: flex;
    gap:24px;
    list-style: none;


}
.btn-banner:hover{
    background-color: white;
    color: #30B868;
}
.nav-container .btn{
    padding:12px 16px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
    color:white;
    cursor: pointer;

}
.btn:hover{
    background-color: white;
    color: #469165;
}
.hero{
    background-image: url(assets/hero-bg.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}
.hero-content{
    padding: 115px 120px;
   text-align: center;
}
.hero-content .content-btn{
    padding:8px 12px;
    background-color: white;
    border:none;
    border-radius: 30px;
    color: #469165;
    cursor: pointer;
    margin-bottom: 16px;
}
.content-btn:hover{
     background-color:#469165;
     color:white;
}
.hero-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color:white;
    margin-bottom: 16px;

}
.hero-content h1 span{
    color:#30B868;
}
.hero-content p{
    line-height: 24px;
    font-size: 18px;
    color:#FFFFFF;
    margin-bottom: 32px;
}
.hero-content .btn-banner{
     padding:12px 16px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
    color:white;
    cursor: pointer;
    .hero-content .btn-banner{
    background-color: white;
    color: #469165;

    }
}
.hero-content .btn-banner2{
  padding:12px 16px;
  border:1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    color:#FFFFFF;
    background-color: transparent;
    cursor: pointer;  
}
.btn-banner2:hover{
    background-color: white;
    color:black;
}
.hero-btn{
    gap:16px;

}
.hero-btn{
    text-align: center;
}
.heading-section{
    text-align: center;
    margin-bottom: 44px;
}
.notes{
    margin-bottom: 120px;
}
.notes-container h2{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
    
}
.notes-container p{
    font-size: 16px;
    color:#627382;
}
.card-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap:24px;
    margin-bottom: 72px;
}
.card{
   padding:24px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card img{
    background: rgba(249, 85, 85, 1);
    padding: 14px;
    border-radius: 60px;
    margin-bottom:16px;
}
.card h4{
    font-size: 24px;
    font-weight: 600;
    color:#001931;
    margin-bottom: 16px;
}
.card p{
   font-weight: 400;
   line-height: 20px;
    text-align: center; 
}

#brain{
    margin-bottom: 120px;
}
.brain-container{
display: flex;
justify-content: space-between;
align-items: center;
gap:60px;
}
.text-content span{
    color:#469165;
    
    text-transform: uppercase;
    font-weight: 500;
    
}
.text-content h2{
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.text-content .para{
    font-weight: 400;
    line-height: 20px;
    color:#627382;
    margin-bottom: 40px;
}
.text-content ul li{
    list-style: none;
    display: flex;
    margin-bottom: 16px;
    
   
}

.ready{
    margin-bottom: 120px;
}
.ready-container{
    padding:80px 40px;
    background-color: #F7F6F2;
    text-align: center;
}
.ready-container h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.ready-container p{
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    color:#627382;
    margin-bottom: 24px;
}
.ready-btn{
    padding:12px 16px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
    color:white;
    cursor: pointer;
    margin-bottom: 16px;

}
.ready-btn:hover{
    background-color:white;
     color:#469165;

}
.footer-container{
    background-color: #001931;
    /* display: flex; */
    /* height: 348px; */
    padding: 120px 120px 30px 120px;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img{
    width: 139px;
height: 60px;
}
.footer-social p{
    color:#FFFFFF;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 16px;
}
.social-icon span{
    color: white;
}
.copy-write p{
    color: white;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:80px;
}
hr{
    margin-bottom: 30px;
}